{{!-- start main container --}}
<div class="container-md">
{{!-- Title/header --}}
<div class="row">
        <div id="header" class="col-xs-4">B O O K - W O R M</div>
</div>
{{!-- Search area -- google api? --}}
{{!-- Start row 2 --}}
    <div class="row">
        <div id="search-books" class="col-xs-4" style="margin-bottom: 25px;">
            <h4 id="search-text">Add a new book to read:</h4>

                <form class='newBookForm'>
                    <div class='form-group row mx-auto' style='justify-content: center; text-align: center;'>
                        <div class='col-sm-6' style="text-align: center;">
                            <input type='text' class='form-control' id='newBookName' style="text-align: center;" placeholder="Search for a book by title, author or genre">
                        </div>
                    </div>

                                <div class='form-group row mx-auto' style='justify-content: center; text-align: center;'>
                                    <div class='col-sm-10'>
                                        <button type='submit' class='status-btn btn'>Search</button>
                                    </div>
                                </div>
                </form>
                        <div id="search-results"></div>
                        <div class="ol_readapi_book" isbn="039471752X" lccn="75009828"><div></div>
        </div>
    {{!-- end row 2 --}}
    </div>

{{!-- Start row 3 --}}
<div class="row" style="margin-bottom: 25px;">
    <div id="shelves-card" class="col-lg-6 col-md-6 col-sm-8">
        <div class="card mb-3">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/images/new-book.jpg" alt="An open book">
        </div>
        <div class="col-md-8">
        <form class="card-body" id="open-library">
            <h5 class="card-title">Looking for something new to read?</h5>
            <p class="card-text">Browse the shelves of our library to discover something new among thousands of titles.</p>
             <input type='text' class='form-control' id='readBook' style="text-align: center;" placeholder="Search for title">
            <button type="button" id= "OpenAPI" class="status-btn btn">Browse Books</button>
            <div id="search-results-2"></div>
        </form>
        </div>
        </div> 
        </div>
    </div>
    
{{!-- Spacing column --}}
<div class="col-1"></div>
{{!-- Finished books --}}
    <div id="reading-tracker" class="col-lg-5 col-md-5 col-sm-8">
        <h1 style="padding: 10px; font-weight: bold;"><span style="background-color: #91D9BF; padding: 10px;">Reading Tracker</span></h1><br>
        <h3><span style="background-color: #91D9BF; padding: 10px;">How much are you reading?</span></h3>
        <progress value="0" max="100" style="height: 50px"></progress>
    </div>
{{!-- End row 3 --}}
</div>


{{!-- Start row 4 --}}
<div class="row">
    <div id="shelves-card" class="col-lg-5 col-md-5 col-sm-8">
        {{!-- bookshelves --}}
        <div class="card">
            <img src="/assets/images/bookshelves.jpg" class="card-img-top" alt="Image of bookshelves" title="Bookshelves">
            <div class="card-body">
            <h5 class="card-title">Bookshelves</h5>
            <p class="card-text">View your personalized bookshelves</p>
{{!-- Bookshelves modal --}}
<!-- trigger modal -->
<button type="button" class="status-btn btn" data-bs-toggle="modal" data-bs-target="#shelvesModal">View</button>
<!-- Modal -->
    <div class="modal fade" id="shelvesModal" tabindex="-1" aria-labelledby="shelvesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="shelvesModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
      <div class="modal-body">
            <ul>
                {{#each books}}
                    {{#unless have_read}}
                        <li>
                            {{book_name}}
                            <button type='button' class='status-btn change-status btn btn-sm' data-id='{{id}}'>'read'</button>
                        </li>
                        <br>
                    {{/unless}}
                {{/each}}
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
    </div>
    </div>
    </div>
  </div>
</div>
{{!-- Spacing column --}}
<div class="col-lg-2 col-md-2 col-sm-0"></div>
{{!-- Finished books --}}
    <div id="finished-books" class="col-lg-5 col-md-5 col-sm-8">
            <div class="card">
                <img src="/assets/images/the-end.jpg" class="card-img-top" alt="The last page of a book" title="The End">
                <div class="card-body">
                <h5 class="card-title">Finished Books</h5>
                <p class="card-text">View all finished books</p>
{{!-- finished books modal --}}
<!-- trigger finished books modal -->
<button type="button" class="status-btn btn" data-bs-toggle="modal" data-bs-target="#finishedModal">View</button>

<!-- Finished books modal -->
    <div class="modal fade" id="finishedModal" tabindex="-1" aria-labelledby="shelvesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="shelvesModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
        <div class="modal-body">
            <ul>
                {{#each books}}
                    {{#if have_read}}
                        <li>
                            {{book_name}}
                            <button type='button' class='status-btn delete-book btn btn-sm' data-id='{{id}}'>Delete</button>
                        </li>
                        <br>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>


    </div>
    </div>
    </div>
        </div>
    </div>
</div>
{{!-- End row 4 --}}
</div>




{{!-- End main container --}}
</div>